.tag-cloud-tags
{
    margin: 10px 0;

    a
    {
        position: relative;  display: inline-block;  margin: 5px 10px;  transition-timing-function: ease-out;  transition-duration: .3s;  transition-property: transform;  word-wrap: break-word;

        &:active,
        &:focus,
        &:hover
        {
            transform: scale(1.1);  color: $light-global-link-hover-color;

            .dark-theme &
            {
                color: $dark-global-link-hover-color;
            }
        }

        small
        {
            color: $light-font-secondary-color;

            .dark-theme &
            {
                color: $dark-global-link-hover-color;
            }
        }
    }
}
